# .env.example
# Plantilla de variables de entorno para CUCU. Copia este archivo como .env y ajusta los valores.

# Django
DEBUG=True
SECRET_KEY="django-insecure-tu-clave-secreta-aqui"
ALLOWED_HOSTS=localhost,127.0.0.1,*,[::1]
# Requerido si el sitio se sirve por HTTPS detras de Nginx (ver README_DEPLOY_AWS.md)
CSRF_TRUSTED_ORIGINS=

# Servicios y Microservicios
GEO_SERVICE_URL=http://geo-service:8081
NOTIFICATIONS_SERVICE_URL=http://notifications-service:8082

# API de Terceros y Servicios Aliados
GOOGLE_MAPS_API_KEY="tu_api_key_de_google_maps_aqui"
ALLY_SERVICE_URL="http://servicio-aliado-mock.local" # Opcional: URL real del equipo aliado

# Celery & RabbitMQ & Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PAYMENTS_QUEUE=payments.events

# Correo
DEFAULT_FROM_EMAIL="no-reply@cucu.local"
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"

# Auth Microservice
AUTH_JWT_SECRET="super-secret-key-for-jwt-change-me"
AUTH_ACCESS_TOKEN_TTL_MINUTES=15
AUTH_REFRESH_TOKEN_TTL_DAYS=30
